/node_modules
/.pnp
.pnp.js
.npminstall.zip

/coverage

/dist
/build

.env
.env.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Thumbs.db

.vite
.env.*
!.env.example

logs
*.log

pids
*.pid
*.seed
*.pid.lock

*.diag

.npm